<div class="container h-100">
  <div class="row">

    <div class="container d-flex justify-content-around align-items-center w-50 p-2 border mt-3 card text-white"
      style="background-color: #6441a5">
      <h1>Mi Cuenta</h1>

      {{#each usuarioEncontrado}}
        <img class="img-thumbnail" width="200" src="{{this.foto}}" alt="Foto / Avatar">
        <ul>
          <li>
            <strong>Nombre: {{this.nombre}}</strong>
          </li>
          <li>
            <strong>Direccion: {{this.direccion}}</strong>
          </li>
          <li>
            <strong>Edad: {{this.edad}}</strong>
          </li>
          <li>
            <strong>Email: {{this.email}}</strong>
          </li>
          <li>
            <strong>Telefono: {{this.telefono}}</strong>
          </li>
        </ul>

    </div>
    {{/each}}
  </div>
</div>