<div class="btn-group p-2 g-col-6">
  <a href="/productos" class="btn btn-outline-light">Todos los productos</a>
  <a href="/productos/categoria/mouse" class="btn btn-outline-light">Mouse</a>
  <a
    href="/productos/categoria/teclado"
    class="btn btn-outline-light"
  >Teclado</a>
  <a href="/productos/categoria/mando" class="btn btn-outline-light">Mando</a>
  <a href="/productos/categoria/camara" class="btn btn-outline-light">Camara</a>
  <a
    href="/productos/categoria/auriculares"
    class="btn btn-outline-light"
  >Auriculares</a>
  <a
    href="/productos/categoria/microfono"
    class="btn btn-outline-light"
  >Microfono</a>
</div>

<div class="row row-cols-1 row-cols-md-3 g-2">
  {{#each productos}}
    <div class="col">
      <div class="card h-100" style="background-color: #6441a5; color: white">
        <h6 class="card-title mx-auto">{{nombre}}</h6>
        <img src="{{foto}}" class="card-img-top" alt="{{nombre}}" />
        <div class="card-body">
          <h3 class="card-text p-2 g-col-6">$ {{precio}}</h3>
          <h6 class="card-text p-2 g-col-6">{{descripcion}}</h6>
          <h6 class="card-text p-2 g-col-6">ID: {{_id}}</h6>
        </div>
        <form action="/carrito/producto/{{_id}}" method="POST">
          <div class="card-footer d-grid gap-2">
            <button type="submit" class="btn btn btn-dark">Agregar al carrito</button>
          </div>
        </form>
      </div>
    </div>
  {{/each}}
</div>